@charset "UTF-8";

/*

    em HTML é id = em CSS é # (só posso ter um por página, e so posso usar uma vez)
    em HTML é class = em CSS é . (posso usar várias vezes na mesma class)

*/

body{

    background-color: rgba(48, 33, 33, 0.63);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(96, 226, 96);
}

h1#principal{
    text-align: center;
    color: yellow;
}

h2.basico{
    color: red;
}

h2.Intermediario{
    color: black;
}

h2.avançado{
    color: blue;
}

