@charset "UTF-8";

body {
    background-color: lightslategray;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    text-align: center;

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2 {
    background-color: green;
    text-align: center;

    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 1;
    grid-column-end: 2;
}

.caixa3 {
    background-color: gold;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 2;
    grid-column-end: 4;

}

.caixa4 {
    background-color: blue;
    text-align: center;

    grid-row-start: 2;
    grid-row-end: 4;

    grid-column-start: 4;
    grid-column-end: 5;
}