@charset "UTF8";
        body {
            background-color: lightskyblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1{
            color: greenyellow;
            background-color: darkgoldenrod;
            text-align: center;
        }

        h2{
            color: darkred;
        }

        p {
            text-align: justify;
        }