body {
    background-color: lightslategray;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    text-align: center;
    grid-area: 1 / 1 / 2 / 5; /*<-- Mesma coisa que: 

    grid-row: 1 / span 1;
    grid-column: 1 / span 4;*/
}

.caixa2 {
    background-color: green;
    text-align: center;
    grid-area: 2 / 1 / 4 / 3;/*<-- Mesma coisa que:

    grid-row: 2 / span 2;
    grid-column: 1 / span 2;*/
}

.caixa3 {
    background-color: gold;
    text-align: center;
    grid-area: 2 / 3 / 4 / 5;/*<-- Mesma coisa que:

    grid-row: 2 / 4;
    grid-column: 3 / 5;*/
}