@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%*/ 
}

body{
    background-image: linear-gradient(to right,#685d4d,#653B30);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #27161291;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #44271F;
    text-align: center;
    text-shadow: 1px 1px 2px #1d100d9f;
}

h2{
    color: #7A2920;
}

p {
    text-align: justify;
}

